.bg{
  background-color: rgb(241, 126, 207);
}

.icons {
  a {
    color: #fff;
  }
   color: #fff;


}

.customLink {
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: all 0.16s;

  &:hover {
    border-color: #333;
  }
}
